body {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}
.pazzle {
    background-color: #273f4b;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex: 0 1 25%;
    flex-wrap: wrap;
    transition: all 1s ease-in-out;
    position: relative;
    box-shadow: 0px 0px 100px black;
}
.btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.15s ease-in-out;
    width: 25%;
    height: 25%;
    font-family: fantasy;
    font-size: 3vh;
    border-radius: 10px;
    &:hover {
        background-color: #a8b7be;
    }
    &:last-child {
        display: none;
    }
}
.shuffle {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-family: fantasy;
    font-size: 2vh;
    border-radius: 10px;
    box-shadow: 2px 5px 20px black;
    cursor: pointer;
    &:hover {
        background-color: #a8b7be;
    }
}
